body{ 
    padding: 20px 50px;
    margin: 15px;
    overflow-x: hidden;
    text-align: justify;
    background-color: black;
    font-family: poppins;
    }

h1{ 
    font-size: 25px;
    font-family: Montserrat extrabold;
    color: rgb(22, 22, 22);
    text-align: center;
}
p{ font-size: 10px;
    font-weight: bold;
    color: white;
}
span{
    font-weight: lighter;
}
    
header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    
    }
header p{
    color: rgb(15, 15, 15);
    text-align: center;
    padding: 20px;
    text-align: justify;
}
h4{
    margin-top: 20px;
    text-align: center;
    color: white;
}

hr{
    margin: 20px;
}

#quote{
    color: rgb(17, 17, 17);
    padding: 25px;
    font-size: 30px;
    background-color: rgb(253, 253, 253);
    font-family: poppins;
}
img{
    position: relative;
    left: 40%;
}

#scroll-up{
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 10px 20px;
    font-family: poppins;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(26, 26, 26, 0.445);
  }

  .mode{
    background-color: white;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
  }

@media screen and (min-width: 600px){

body{
    text-align: justify;
    margin: 1em 5em;
    padding: 2em;
    font-family: poppins;
}

h1{
    font-size: 50px;
    text-align: center;
}

p{
    font-family: poppins;
    font-weight: bold;
    font-size: 18px;
}

span{
    font-weight: lighter;
}


#img-caption{
    font-family: poppins;
    font-size: 20px;
}

header{
    width: 100%;
    padding: 10px;
}
header p{
    text-align: center;
    padding: 20px;
}

h4{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

hr{
    margin-bottom: 50px;
}

#quote{
    text-align: center;
    padding: 25px;
    margin: 70px;
    font-size: 30px;
    font-family: poppins;
}


}

